/* nav styles start */
.nav-container {
    text-align: center;
    width: 1320;
    height: 600;
    border: 141px 50px #000000;
    /* color: #000000; */
    border-radius: 16px;
}

/* share style */
.red {
    color: #FF0000;

}

.btn {
    background-color: #fd6e0a;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

/* main styles */
.container {
    text-align: center;

    width: 802.9px;
    height: 812px;
    margin: 0px 25%;
}

/* welcome style */
.Welcome-container {
    text-align: center;
    margin: 0px 25%S;
    color: #000000;
}

.join-container {
    text-align: center;


}

.join-section {
    margin: 0px 20%;

}

.main {
    width: 900px;
    height: 200px;
    padding: 20px;
    background-color: antiquewhite;

}

/* picture styles  */
.picture-container {
    display: flex;
    width: 900px;
    height: 400px;
    background-color: aliceblue;
    margin: 80px auto
}

.container1 {
    width: 393px;
    height: 250px;
}

.container2 {
    width: 463px;
    height: 463px;

}

.container3 {
    box-sizing: border-box;
    display: block;



}

.sub-container3-1 {
    width: 276px;
    height: 170px;
}

.sub-container3-2 {
    width: 140px;
    height: 140px;
    margin: 0px, 0px;
}

/* discount style */
.discount-container {
    box-sizing: border-box;
    background-color: aliceblue;
    width: 1020px;
    height: 886px;

    margin: auto;
}

.discount-sub-container1 {
    text-align: center;

}

.para {
    width: 1068px;
    height: 90px;

    margin: auto;
}

.discount-sub-container2 {
    margin-top: 10%;
    text-align: center;
}

.discount-sub-container3 {
    margin-bottom: 50%;


}

/* product-list style */
.product-container {
    box-sizing: border-box;
    width: 1320px;
    height: 1070px;
    background-color: antiquewhite;
    margin: auto;

}

.product-heading {
    justify-content: left;
}

.product-sub-container,
div {
    margin: 10px 10px 10px 10px;
}

/* message style */
.messages-container {
    text-align: center;
    width: 1320px;
    height: 500px;
    background-color: bisque;
    margin: auto;
}

.subcribe {}