/* nav styles start */
.nav-container {
    text-align: center;
    width: 1320;
    height: 600;
    border: 141px 50px #000000;
    /* color: #000000; */
    border-radius: 16px;
}

/* share style */
.red {
    color: #FF0000;
}

/* main styles */
.container {
    text-align: center;

    width: 802.9px;
    height: 812px;
    margin: 0px 25%;
}

/* welcome style */
.Welcome-container {
    text-align: center;
    margin: 0px 25%S;
    color: #000000;




}