/* nav styles start */
.nav-container {
    text-align: center;
    width: 1320;
    height: 600;
    border: 141px 50px #000000;
    /* color: #000000; */
    border-radius: 16px;
}

/* share style */
.red {
    color: #FF0000;

}

.btn {
    background-color: #fd6e0a;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

/* main styles */
.container {
    text-align: center;

    width: 802.9px;
    height: 812px;
    margin: 0px 25%;
}

/* welcome style */
.Welcome-container {
    text-align: center;
    margin: 0px 25%S;
    color: #000000;
}

.join-container {
    text-align: center;


}

.join-section {
    margin: 0px 20%;

}

.main {
    width: 900px;
    height: 200px;
    padding: 20px;
    background-color: antiquewhite;

}

/* picture styles  */
.picture-container {
    display: flex;
    width: 900px;
    height: 400px;
    background-color: aliceblue;
    margin: 80px auto
}

.container1 {
    width: 393px;
    height: 250px;
}

.container2 {
    width: 463px;
    height: 463px;

}

.container3 {
    box-sizing: border-box;
    display: block;



}

.sub-container3-1 {
    width: 276px;
    height: 170px;
}

.sub-container3-2 {
    width: 140px;
    height: 140px;
    margin: 0px, 0px;
}